<md-content ng-controller="StockListController"
            layout-wrap
            layout="row">
    <div ng-repeat="rate in rates"
         flex="20"
         layout-padding>
        Stock:{{rate.stock.name}}<br/>
        Pair:{{rate.currencyPair.name}}<br/>
        Rate:{{rate.rate}}<br/>
    </div>

    <div style="width: 1000px;height: 500px;background: transparent;padding: 0 !important;">
        <iframe id="tradingview"
                src="/resources/template/tradingview.iframe.html"
                target="_parent"
                width="1000" height="500" frameborder="0" allowtransparency="true" scrolling="no"
                allowfullscreen="">
        </iframe>
    </div>
</md-content>